name: Check Python vulnerabilities
on: push

jobs:
  security:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v4

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --sarif-file-output=snyk.sarif

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif

      - name: Check for high severity vulnerabilities
        run: |
          count=$(jq '.runs[0].results | length' snyk.sarif)
          echo "Vulnerability count: $count"
          if [ "$count" -gt 0 ]; then
            echo "Vulnerabilities found!"
            exit 1
          fi
